### Insights over opendata for Los Angeles airport terminal passengers

Data downloaded from https://data.lacity.org/Transportation

In [23]:
import requests
import os
import pandas as pd

if not os.path.exists('.downloads'):
    os.mkdir(".downloads")

In [24]:
response = requests.get("https://data.lacity.org/resource/g3qu-7q2u.csv")
open(".downloads/data.csv", "wb").write(response.content)

92502

In [25]:
df = pd.read_csv('.downloads/data.csv')
df.head()

,dataextractdate,reportperiod,terminal,arrival_departure,domestic_international,passenger_count
0,2021-05-10T06:01:09.000,2021-04-01T00:00:00.000,T1,Departure,Domestic,160413
1,2021-05-03T15:08:02.000,2021-03-01T00:00:00.000,T5,Departure,Domestic,223866
2,2021-05-27T15:16:34.000,2021-04-01T00:00:00.000,T5,Departure,Domestic,266035
3,2021-07-10T06:01:27.000,2021-06-01T00:00:00.000,T6,Arrival,International,6195
4,2021-05-10T06:01:09.000,2021-04-01T00:00:00.000,T8,Arrival,Domestic,54925